<html>
    <head>
        <script src="{{ url_for('static', filename='table_handler.js') }}"></script>
    </head>
    <body>
        <h1>Edit relationship</h1>
            {% for person in persons %}
                        {% if start_node_id == person.id %} <p> {{ person.name ~ " (" ~ person.birth ~ ")"}} </p> {% endif %}
            {% endfor %}
            {% for person in persons %}
                        {% if end_node_id == person.id %} <p> {{ person.name ~ " (" ~ person.birth ~ ")"}} </p> {% endif %}
            {% endfor %}
            <p>Type: {{relationship.relationship_type}}</p>
        <form action="{{url_for('edit_relationship', relationship_id=relationship.relationship_id)}}" method = 'post'>
            <dl>
                </br>
                <table id="properties" border="1" style="width:100%">
                    <tr>
                        <th>Property name</th><th>Property value</th>
                    </tr>
                    {% for property in relationship.properties %}
                    <tr>
                        <td>{{property}}</td>
                        <td><input name='{{property}}' value='{{relationship.properties[property]}}'></td>
                        <td><button type="button" onclick="markRowForDeletion(this)"> Delete row </button></td>
                    </tr>
                    {% endfor %}

                </table>
                <button type="button" onclick="add_row()">
                    Add row
                </button>
                <p id="demo"></p>
           </dl>
            <input type='submit' value='Update'>
        </form>
        <a href = "{{url_for('show_tree')}}">Cancel</a>
    </body>
</html>
