<!DOCTYPE html>
<html>
<head>
    <title>Family tree</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>


    <!-- START SIGMA IMPORTS -->
    <script src="../static/sigma/src/sigma.core.js"></script>
    <script src="../static/sigma/src/conrad.js"></script>
    <script src="../static/sigma/src/utils/sigma.utils.js"></script>
    <script src="../static/sigma/src/utils/sigma.polyfills.js"></script>
    <script src="../static/sigma/src/sigma.settings.js"></script>
    <script src="../static/sigma/src/classes/sigma.classes.dispatcher.js"></script>
    <script src="../static/sigma/src/classes/sigma.classes.configurable.js"></script>
    <script src="../static/sigma/src/classes/sigma.classes.graph.js"></script>
    <script src="../static/sigma/src/classes/sigma.classes.camera.js"></script>
    <script src="../static/sigma/src/classes/sigma.classes.quad.js"></script>
    <script src="../static/sigma/src/classes/sigma.classes.edgequad.js"></script>
    <script src="../static/sigma/src/captors/sigma.captors.mouse.js"></script>
    <script src="../static/sigma/src/captors/sigma.captors.touch.js"></script>
    <script src="../static/sigma/src/renderers/sigma.renderers.canvas.js"></script>
    <script src="../static/sigma/src/renderers/sigma.renderers.webgl.js"></script>
    <script src="../static/sigma/src/renderers/sigma.renderers.svg.js"></script>
    <script src="../static/sigma/src/renderers/sigma.renderers.def.js"></script>
    <script src="../static/sigma/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
    <script src="../static/sigma/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
    <script src="../static/sigma/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
    <script src="../static/sigma/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
    <script src="../static/sigma/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
    <script src="../static/sigma/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
    <script src="../static/sigma/src/renderers/svg/sigma.svg.utils.js"></script>
    <script src="../static/sigma/src/renderers/svg/sigma.svg.nodes.def.js"></script>
    <script src="../static/sigma/src/renderers/svg/sigma.svg.edges.def.js"></script>
    <script src="../static/sigma/src/renderers/svg/sigma.svg.edges.curve.js"></script>
    <script src="../static/sigma/src/renderers/svg/sigma.svg.labels.def.js"></script>
    <script src="../static/sigma/src/renderers/svg/sigma.svg.hovers.def.js"></script>
    <script src="../static/sigma/src/middlewares/sigma.middlewares.rescale.js"></script>
    <script src="../static/sigma/src/middlewares/sigma.middlewares.copy.js"></script>
    <script src="../static/sigma/src/misc/sigma.misc.animation.js"></script>
    <script src="../static/sigma/src/misc/sigma.misc.bindEvents.js"></script>
    <script src="../static/sigma/src/misc/sigma.misc.bindDOMEvents.js"></script>
    <script src="../static/sigma/src/misc/sigma.misc.drawHovers.js"></script>
    <!-- END SIGMA IMPORTS -->
    <script src="../static/sigma/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
    <script src="../static/sigma/plugins/sigma.neo4j.cypher/sigma.neo4j.cypher.js"></script>


</head>
<body>

<div class='flash'>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</div>

<div class="row">


    <div class="col-md-2">
        <ul class="nav nav-pills" id="ranks">
            <li><a class="btn btn-link" href="{{url_for('add_new_person') }}">Add New Person</a></li>
            <div class="clearfix"></div>
            <li><a class="btn btn-link" href="{{url_for('add_new_relationship') }}">Add New Relationship</a></li>
            <div class="clearfix"></div>
            <li><a class="btn btn-link" href="{{url_for('show_graph') }}">Show tree</a></li>
        </ul>
    </div>

    <div class="col-md-5">
        <h1>
            Persons with their relationships
        </h1>
        {% for person, relationships in persons_with_relationships.items() %}
        <div class="panel" id="person{{person.id}}">
            <p>
            <h2>
                {{person.name}}
                <a class="btn btn-warning" href="{{ url_for('edit_person', person_id=person.id) }}">Edit</a>
                <a class="btn btn-danger" href="{{ url_for('delete_person', person_id=person.id) }}">Delete</a>
            </h2></br>
            Birth date: {{person.birth}}</br>
            {% for property in person.properties %}
            {% if property not in ["name", "birth", "born"] %}
            {{property}} : {{person.properties[property]}}</br>
            {% endif %}
            {% endfor %}
            Database ID: {{person.id}}</br>
            </p>


            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse{{person.id}}">Relationships</a>
                        </h4>
                    </div>
                    <div id="collapse{{person.id}}" class="panel-collapse collapse">
                        <ul class="list-group">
                            {% for relation in relationships %}
                            <li class="list-group-item">
                                {{relation.get_formatted_start()}} <span class="label label-info">{{relation.get_formatted_relationship_type()}}</span>
                                {{relation.get_formatted_end()}}
                                <a class="btn btn-warning"
                                   href="{{ url_for('edit_relationship', relationship_id=relation.relationship_id) }}">Edit</a>
                                <a class="btn btn-danger"
                                   href="{{ url_for('delete_relationship', relationship_id=relation.relationship_id) }}">Delete</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


        </div>
        {% endfor %}

    </div>
</div>

<style>
    #graph-container{
      top: 10%;
       border: 1px solid #ccc;
      right: 0px;
          width: 40%;
    height: 60%;
      position: fixed;
    }



</style>
<div id="graph-container"></div>
<script>
  sigma.classes.graph.addMethod('neighbors', function(nodeId) {
    var k,
        neighbors = {},
        index = this.allNeighborsIndex[nodeId] || {};

    for (k in index)
      neighbors[k] = this.nodesIndex[k];
    return neighbors;
  });

  var graph = JSON.parse({{ json_to_display|tojson }});
  s = new sigma({
    graph: graph,
    container: 'graph-container'
    });

  // Bind the events:
  s.bind('clickNode doubleClickNode rightClickNode', function(e) {

    var nodeId = e.data.node.id,
    toKeep = s.graph.neighbors(nodeId);
    toKeep[nodeId] = e.data.node;
    s.graph.nodes().forEach(function(n) {
      if (toKeep[n.id])
        n.color = n.originalColor;
      else
        n.color = '#eee';
      if (n.id != nodeId) {
        c = 'in'
        document.getElementById("collapse" + n.id).className = document.getElementById("collapse" + n.id).className.replace( new RegExp('(?:^|\\s)'+c+'(?!\\S)') ,'')
      }
    });

  s.graph.edges().forEach(function(e) {
      if (toKeep[e.source] && toKeep[e.target])
        e.color = e.originalColor;
      else
        e.color = '#eee';
    });

    document.getElementById("collapse" + nodeId).className += " in";

    // Same as in the previous event:
    s.refresh();
    document.getElementById('person' + nodeId).scrollIntoView();;
  });

     // When the stage is clicked, we just color each
      // node and edge with its original color.
  s.bind('clickStage', function(e) {
    s.graph.nodes().forEach(function(n) {
      <!--document.getElementById('collapse' + n.id).classList.remove('in');-->
      c = 'in'
      document.getElementById("collapse" + n.id).className = document.getElementById("collapse" + n.id).className.replace( new RegExp('(?:^|\\s)'+c+'(?!\\S)') ,'')
      n.color = n.originalColor;
    });

    s.graph.edges().forEach(function(e) {
      e.color = e.originalColor;
    });


    // Same as in the previous event:
    s.refresh();

    });



</script>
</body>
</html>
