<html>
    <body>
        <h1>
            Persons
        </h1>
        {% for person in persons %}
        <!--<div>-->
            <p>
                {{person.name}}</br>
                {{person.id}}</br>
                {{person.birth}}</br>
                <a href="{{ url_for('edit_person', person_id=person.id) }}">Edit</a></br>
                <a href="{{ url_for('delete_person', person_id=person.id) }}">Delete</a></br>
            </p>
        <!--</div>-->
        {% endfor %}

        <h1>
            Relationships
        </h1>
        {% for relation in relations %}
        <!--<div>-->
            <p>
                {{relation.start_node}}</br>
                {{relation.end_node}}</br>
                {{relation.type}}</br>
                {% for property in relation.properties %}
                    {{property}} : {{relation.properties[property]}}</br>
                {% endfor %}
                <a href="{{ url_for('delete_relationship', relationship_id=relation.relationship_id) }}">Delete</a></br>
            </p>
        <!--</div>-->
        {% endfor %}
        <a href = '{{url_for('add_new_person') }}'>Add New Person</a>
        <a href = '{{url_for('add_new_relationship') }}'>Add New Relationship</a>
    </body>
</html>
