<html>
    <body>
        <h1>New person</h1>
        <form action="{{url_for('add_new_person')}}" method = 'post'>

            <dl>
            <dt>Name:</dt>
            <dd><input type ='text' size='30' name='name' required></dd>
            <dt>Born:</dt>
            <dd><input type = 'text' size = '4' name='born' required></dd>
            <dt>Course:</dt>
            </dl>
            <input type='submit' value='Create'>
        </form>
        <a href = "{{url_for('show_tree')}}">Cancel</a>
    </body>
</html>
